<ul class="list-group ">
    <li *ngFor="let character of characterLst; 
                let i = index;
                let isFirst = first;
                let isLast = last;
               "
        class="list-group-item d-flex justify-content-between align-items-center"
        [ngClass]="{
            'list-group-item-success': isFirst,
            'list-group-item-primary' : isLast

        }"
    >
        <div>
            <span class="text-primary"> {{ i + 1 }}.- </span>
                Name: {{ character.name }} - <strong> Power: </strong> {{ character.power }}
        </div>
        <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)"> X </button>
    </li>    
</ul>